.backGroundSvg {
  background-image: url("../../../images/Liquid-Cheese.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.listCardFancyBackground {
  background: #5c258d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #0c495f,
    #5c258d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #0c495f,
    #5c258d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.listDetails {
  border-left: 3px solid #182848;
  padding-left: 3em;
  position: relative;
  min-height: 9em;
}

.time {
  margin-right: 3em;
  position: relative;
  color: #6b6fff;
}

.time::after {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  right: -3.5em;
  background-color: #f5f7fa;
  border: 3px solid #182848;
  top: 0px;
  border-radius: 50%;
  z-index: 1;
}

.listDetails .listHeading {
  margin: 0.2em 0;
  color: #eeffee;
  font-size: 1.5em;
  font-weight: 500;
  flex: 1;
}

.listDetails .listDescription {
  font-size: 1em;
  font-weight: 400;
  color: whitesmoke;
}

.listActions svg{
    margin: 0 0.5em;
    cursor: pointer;
}
