.backGroundSvg {
  background-image: url("../../../images/Liquid-Cheese.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.listHeader {
  padding: 1em;
  width: auto;
}

.listCardFancyBackground {
  /* background: #5c258d; 
  background: -webkit-linear-gradient(
    to left,
    #0c495f,
    #5c258d
  ); 
  background: linear-gradient(
    to left,
    #0c495f,
    #5c258d
  ); */
  background: #939adf;
  animation-name: listItemAnim;
  animation-duration: 500ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.timeLineContainer {
  /* position: relative; */
  /* top: 255px; */
  /* bottom: 2em; */
}

.addNewListContainer {
  position: fixed;
  z-index: 1000;
  color: black;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
}

.listDetails {
  border-left: 5px solid #182848;
  /* position: relative; */
  min-height: 7.5em;
}

.timelineActionIcon {
  position: absolute;
  left: 5em;
  /* background: #9ba0e6; */
  background: white;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
}

.time {
  position: relative;
  color: #182848;
  font-size: 0.8em;
  min-width: 6em;
  padding: 0.5em;
  text-align: center;
}

.listDetails .listHeading {
  margin: 0.2em 0;
  color: #eeffee;
  font-size: 0.7em;
  font-weight: 500;
  flex: 1;
}

.listHeading:focus {
  outline: none;
}

.listIsDone .listCardFancyBackground {
  background-color: darkgray;
  opacity: 0.7;
}
.listIsDone .time {
  color: green;
}

.listIsDone .listHeading {
  text-decoration: line-through;
  text-decoration-color: #182848;
}

.listIsDone .listDetails {
  border-left-color: green;
}

.listDetails .listDescription {
  font-size: 1em;
  font-weight: 400;
  color: whitesmoke;
}

.listActions {
  flex: 0;
}

.listActions svg {
  margin: 0 0.5em;
  cursor: pointer;
}

.titleInput {
  border: none;
  font-size: 1em;
  width: 100%;
  background: transparent;
  margin-bottom: 0.2em;
  color: #efefef;
}

.titleInput::placeholder {
  color: #efefef;
}

.titleInput:focus {
  outline: none;
}

.actions {
  flex: 1;
  padding: 1em;
}

.actions svg {
  margin: 5px;
}

.circularContainer {
  background-color: white;
  flex: 1;
  border-top-right-radius: 100px;
  animation-name: slideUpContainer;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
}

@keyframes slideUpContainer {
  from {
    transform: translate(0, 20%);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* animations */
@keyframes listItemAnim {
  from {
    transform: translate(10%, 0);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
