.loaderOverlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 102;
}

.loaderHide {
  display: none;
}

.loaderShow {
  display: flex;
}

.indicator {
  animation-name: rotateIndicator;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes rotateIndicator {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}
