.container {
    /* padding: 3em 4em; */
    min-height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.bottomRightContainer {
    position: absolute;
    top: 85%;
    right: 5em;
}

.circularPrimayBtn svg{
    fill: #efefef;
}

.curvedCardBg{
    background-image: url('../../../images/Curved-card.svg');
    min-height: 300px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #efefef;
}