.curvedHeader {
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0 100%);
  min-height: 100%;
  min-width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3f3d56;
  /* background: #5d4157; 
  background: -webkit-linear-gradient(
    to top,
    #a8caba,
    #5d4157
  );
  background: linear-gradient(
    to top,
    #a8caba,
    #5d4157
  );  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #182848;
}

.curvedHeader .title {
  min-height: 30%;
  font-size: 25px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.curvedHeader .title h1 {
  margin: 5px 0;
}

.imageContainer{
  padding-top: 10em;
  animation: slideLeft 0.5s ease-in forwards, glowUp 0.5s ease-in forwards;
}

.userAvatar {
  /* animation: slideUp 1s ease forwards, glowUp 2s ease forwards; */
}

.loginContainer {
  min-width: 350px;
  animation: slideUp 1s ease forwards, glowUp 2s ease forwards;
}

@keyframes glowUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translate(-10%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes slideUp {
  from {
    transform: translate(0, 10%);
  }

  to {
    transform: translate(0, 0);
  }
}

.inputGroup {
  width: 100%;
  margin: 10px 0;
}

.inputGroup label {
  font-weight: 300;
  font-family: sans-serif;
  font-size: 1.3em;
}

.inputGroup input {
  margin-top: 10px;
}
