.curvedHeader {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 70%);
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background: #5d4157; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #a8caba,
    #5d4157
  );
  background: linear-gradient(
    to top,
    #a8caba,
    #5d4157
  ); 
  display: flex;
  justify-content: center;
  color: white;
}

.curvedHeader .title {
    font-size: 25px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.curvedHeader .title h1 {
    margin: 5px 0;

}

.userAvatar{
  /* animation: slideUp 1s ease forwards, glowUp 2s ease forwards; */
}

.loginContainer { 
    min-width: 350px;
    animation: slideUp 1s ease forwards, glowUp 2s ease forwards;
}

@keyframes glowUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translate(0, 10%);
  }

  to {
    transform: translate(0, 0);
  }
}

.inputGroup{
    width: 100%;
    margin: 10px 0;
}

.inputGroup label{
    font-weight: 300;
    font-family: sans-serif;
    font-size: 1.3em; 
}

.inputGroup input {
    margin-top: 10px;
}