.modalWrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.modalWrapper,
.withBackDrop {
  background-color: rgba(16, 15, 37, 0.3);
}

.modalHide {
  display: none;
}

.modalShow {
  display: flex;
}

.modalContent {
  animation-name: slideUpContainer;
  animation-duration: 100ms;
  animation-timing-function: ease-in;
  box-shadow: 1px 15px 50px 5px rgba(24,40,72,1);
  border-radius: 10px;
  transition: all;
}



@keyframes slideUpContainer {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
  
    to {
      transform: scale(1);
      opacity: 1;
    }
  }